@charset "UTF-8";

/* 동영상 */
#content_media {
      background: transparent;
}

#content_media > .video_container {
      position: relative;
      padding-bottom: 56.25%;
      height: 0;
}
#content_media > .video_container iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
}

/* 스토리 */
#content_story {
      margin: 50px auto 80px;
      background: #fff;
      text-align: center;
}

#content_story > .story-area > .item {
      display: inline-block;
      margin: 0 10px;
      position: relative;
      height: 380px;
      vertical-align: middle;
}

#content_story > .story-caption {
      margin-bottom: 40px;
}

#content_story > .story-caption > h1 {
      font-size: 100px;
      color: rgb(255, 0, 0, .7);
      text-align: center;
}

#content_story > .story-caption > span {
      display: block;
      font-size: 30px;
      font-weight: 400;
      color: #888;
      text-align: center;
}

#content_story > .story-area > .item > img {
      width: 300px;
      height: 250px;
}

#content_story > .story-area > .item > .st-caption {
      display: block;
      position: absolute;
      top: 250px;
      right: 0;
      font-size: 25px;
      font-weight: 600;
      color: #444;
      margin-top: 5px;
}

#content_story > .story-area > .item > p {
      color: #222;
      font-size: 20px;
      margin-top: 30px;
      text-align: left;
      height: 90px;
}

/* 상품 */
#content_products {
      padding: 50px 0;
      background-color: rgb(159, 78, 20, .4);
      position: relative;
}

#content_products > video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
}

#content_products > .products-caption > h1 {
      font-size: 100px;
      color: #fff;
      text-align: center;
      z-index: 1;
}

#content_products > .products-caption > span {
      display: block;
      font-size: 30px;
      font-weight: 400;
      color: #fff;
      text-align: center;
}

/* swiper-slider item */
#content_products > .products-slider {
      width: 100%;
      height: 600px;
      text-align: center;
}

#content_products .swiper-slide {
      text-align: center;
      position: relative;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center; 
}

.products-slider .swiper-pagination {
      display: flex;
      align-items: center;
      justify-content: center;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
      margin: 0 10px;
}

.products-slider .swiper-pagination-bullet {
      width: 5px;
      height: 14px;
      border-radius: 100%;
      text-align: center;
      color: transparent;
      opacity: 1;
      padding: 0 5px;
      background: white;
      white-space: nowrap;
      overflow: hidden;
      border: 1px solid rgb(159, 78, 20, .8);
}

.products-slider .swiper-pagination-bullet-active {
      color: #fff;
      background: rgb(159, 78, 20, .8);
      border: none;
      width: 100px;
      height: 50px;
      text-align: center;
      border-radius: 30px;
      line-height: 50px;
      font-size: 18px;
      transition: width .5s; 
}

.products-slider .wrap-slider {
      display: flex;
      flex: 2 1 1;

      overflow: hidden;
      background: #fff;
      width: 900px;
      height: 450px;
      margin: 50px auto;
}

.products-slider .wrap-slider > div {
      flex : 1;
}

.products-slider .wrap-slider > .product-caption {
      height: 100%;
      
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
}

.products-slider .wrap-slider > .product-caption > div > p {
      font-size: 28px;
      margin-top: 20px;
      font-weight: 400;
      
}

.products-slider .wrap-slider > .product-caption > .product-buttons > span {
      color: #fff;
      background: rgb(159, 78, 20, .8);
      border-radius: 30px;
      padding: 10px 15px;
      margin: 0 5px;
      font-size: 20px;
}

.products-slider .wrap-slider > .pd-img-bg > img {
      width: 100%;
}

.products-slider .swiper-slide-active .pd-img-bg > img {
      animation: slideInUp 1s;
}


/* 커뮤니티 */
#content_community {
      margin: 50px 0 80px;
      background: #fff;
}

#content_community > .community-caption > h1 {
      font-size: 100px;
      color: rgb(255, 0, 0, .7);
      text-align: center;
}

#content_community > .community-caption > span {
      display: block;
      font-size: 30px;
      font-weight: 400;
      color: #888;
      text-align: center;
      margin-bottom: 40px;
}

#content_community > .communi-slider {
      overflow: visible;
      width: 100%;
      max-width: 1170px;
      margin: 0 auto;
}

#content_community .slide-box {
      width: 357px;
}

#content_community .slide-box > .slider-item {
      box-shadow: 0px 10px 20px 0px rgb(38 31 31 / 20%);
      position: relative;
} 

#content_community .slide-box > .slider-item > .card-img {
      display: block;
      width: 100%;
      overflow: hidden;
}

.slide-box > .slider-item > .card-img > img {
      width: 100%;
      height: 341px;
}

#content_community .slide-box > .slider-item > .cm-caption {
      padding: 30px 15px;
      color: #222;
      box-sizing: border-box;
}

#content_community .slide-box > .slider-item > .cm-caption > h5 {
      font-size: 18px;
}

#content_community .slide-box > .slider-item > .cm-caption > span {
      font-size: 16px;
} 

.slick-slide {
      transition: all ease-in-out .2s;
      margin: 50px 15px;

      -webkit-transition: all .5s;
      -moz-transition: all .5s;
      -o-transition: all .5s;
      transition: all .5s;
      opacity: .75;
}

.slick-current {
      transform: scale(1.1);
      opacity: 1;
}

.arrow-slider {
      text-align: right;
      margin-right: 30px;
}

.arrow-slider .arrows .fas {
      color: #999;
      padding: 10px;
      text-align: right;
}


/* 컨텐츠 info */
#content_info {
      text-align: center;
      background: #333;
      position: relative;
}

#content_info > .info-item {
      display: inline-block;
      width: 350px;
      margin: 70px 0;
      text-align: center;
      border-right: 1px solid #999;
}

#content_info > .info-item:last-child {
      border-right: none;
}

#content_info > .info-item > .icon-bg {
      display: inline-block;
      width: 54px;
      height: 54px;
      border-radius: 100px;
      background: #fff;
      text-align: center;
}

#content_info > .info-item > h5 {
      font-size: 18px;
      color: #fff;
      margin: 10px 0 0;
}

#content_info > .info-item > p {
      font-size: 16px;
      color: #999;
      margin: 15px 0 0;
}



/* 미디어 쿼리 */
/* PC , 테블릿 가로 (해상도 1024px ~ ) */ 
@media all and (min-width:1024px) { 
      #content_community .slide-box > .slider-item > .cm-caption {
            min-height: 160px;
            box-sizing: border-box;
      }
} 

/* 테블릿 세로 (해상도 768px ~ 1023px)*/ 
@media all and (min-width:768px) and (max-width:1023px) { 
      /* story */
      #content_story > .story-caption > h1 {
            font-size: 80px;
      }
      #content_story > .story-caption > span {
            font-size: 25px;
      }

      /* products */
      #content_products > .products-caption > h1 {
            font-size: 80px;
      }
      
      #content_products > .products-caption > span {
            font-size: 25px;
      }

      .products-slider .wrap-slider > .product-caption > div > p {
            font-size: 25px;
      }

      .products-slider .wrap-slider > .product-caption > .product-buttons > span {
            font-size: 18px;
      }

      .products-slider .swiper-pagination-bullet-active {
            font-size: 16px; 
      }

      /* community */
      #content_community > .community-caption > h1 {
            font-size: 80px;
      }
      
      #content_community > .community-caption > span {
            font-size: 25px;
      }

      #content_community .slide-box > .slider-item > .cm-caption {
            min-height: 160px;
            box-sizing: border-box;
      }

      /* info */
      #content_info > .info-item {
            border-right: none;
      }
} 

/* 모바일 가로, 테블릿 세로 (해상도 480px ~ 767px)*/ 
@media all and (max-width:767px) { 
      /* story */
      #content_story > .story-caption > h1 {
            font-size: 60px;
      }
      #content_story > .story-caption > span {
            font-size: 15px;
      }

      #content_story > .story-area > .item > .st-caption {
            font-size: 20px; 
      }

      #content_story > .story-area > .item > p {
            font-size: 15px;
      }

      /* products */
      #content_products > .products-slider {
            height: auto;      
      }
      #content_products > .products-caption > h1 {
            font-size: 60px;
      }
      
      #content_products > .products-caption > span {
            font-size: 15px;
      }

      .products-slider .wrap-slider {
            width: 100%;
            /* height: auto; */
            /* min-height: 480px; */
            margin: 30px 20px 80px;
            flex-direction: column;
            flex: 2 1 1;
      }

      .products-slider .wrap-slider > div {
            flex: 0;
      }
      
      .products-slider .wrap-slider > .product-caption {
            width: 100%;
            padding: 30px 0;
      }

      .products-slider .wrap-slider > .product-caption > div > p {
            font-size: 20px;
            margin-bottom: 20px;
      }
      
      .products-slider .wrap-slider > .product-caption > .product-buttons > span {
            font-size: 15px;
      }
      
      .products-slider .wrap-slider > .pd-img-bg {
            width: 100%;
            margin-top: -45px;
      }

      .products-slider .wrap-slider > .pd-img-bg > img {
            width: 50%;
      }

      .products-slider .swiper-pagination-bullet-active {
            font-size: 15px;  
            width: 100px;
            height: 50px;
      }

      .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
            margin: 0 4px;
      }

      #content_products > video {
            display: none;
      }

      /* community */
      #content_community > .community-caption > h1 {
            font-size: 60px;
      }
      
      #content_community > .community-caption > span {
            font-size: 15px;
      }

      #content_community .slide-box > .slider-item > .cm-caption > h5 {
            font-size: 16px;
      }
      
      #content_community .slide-box > .slider-item > .cm-caption > span {
            font-size: 14px;
      } 

      /* info */
      #content_info > .info-item {
            margin: 0;
            padding: 50px 0;
            border-right: none;
            border-bottom: 1px solid #999;
      }
      
      #content_info > .info-item:last-child {
            border-bottom: none;
      }

      #content_info > .info-item > h5 {
            font-size: 16px;
            color: #fff;
            margin: 10px 0 0;
      }
      
      #content_info > .info-item > p {
            font-size: 14px;
            color: #999;
            margin: 15px 0 0;
      }
}
