@charset "UTF-8";

/* 동영상 */
#content_media {
      height: 700px;
      background: #555;
}

/* #content_media > .video_container {
      position: relative;
      padding-bottom: 56.25%;
      height: 0;
}
#content_media > .video_container iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
} */

/* 스토리 */
#content_story {
      /* width: 960px; */
      margin: 50px auto 80px;
      background: #fff;
      text-align: center;
}

#content_story > .story-area > .item {
      display: inline-block;
      margin: 0 10px;
      position: relative;
      height: 380px;
      vertical-align: middle;
}

#content_story > .story-caption {
      margin-bottom: 40px;
}

#content_story > .story-caption > h1 {
      font-size: 100px;
      color: rgb(255, 0, 0, .7);
      text-align: center;
}

#content_story > .story-caption > span {
      display: block;
      font-size: 30px;
      color: #888;
      text-align: center;
}

#content_story > .story-area > .item > img {
      width: 300px;
      height: 250px;
}

#content_story > .story-area > .item > .st-caption {
      display: block;
      position: absolute;
      top: 250px;
      right: 0;
      font-size: 25px;
      font-weight: 600;
      color: #444;
      margin-top: 5px;
}

#content_story > .story-area > .item > p {
      color: #222;
      font-size: 20px;
      margin-top: 30px;
      text-align: left;
      height: 90px;
}

/* 상품 */
#content_products {
      padding: 50px 0;
      height: 600px;
      background: rgb(159, 78, 20, .4);
}

#content_products > .products-caption > h1 {
      font-size: 100px;
      color: #fff;
      text-align: center;
}

#content_products > .products-caption > span {
      display: block;
      font-size: 30px;
      color: #fff;
      text-align: center;
}

/* 커뮤니티 */
#content_community {
      margin: 50px 0 80px;
      /* height: 600px; */
      background: #fff;
}

#content_community > .community-caption > h1 {
      font-size: 100px;
      color: rgb(255, 0, 0, .7);
      text-align: center;
}

#content_community > .community-caption > span {
      display: block;
      font-size: 30px;
      color: #888;
      text-align: center;
      margin-bottom: 40px;
}

#content_community .swiper-container {
      height: 500px;
}

#content_community .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      position: relative;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      /* -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center; */
}

#content_community .swiper-pagination-bullet {
      width: 12px;
      height: 12px;
      background: transparent;
      border: 1px solid #999;
      opacity: 1;
}

#content_community .swiper-pagination-bullet-active {
      width: 40px;
      transition: width .5s;
      border-radius: 5px;
      background: #999;
      border: 1px slide transparent;
}

#content_community .swiper-slide > .slider-item {
      border: 3px solid #ccc;
      padding: 5px;
      height: 420px;
}

#content_community .swiper-slide > .slider-item > img {
      display: block;
      width: 100%;
      /* height: 250px; */
}

#content_community .swiper-slide > .slider-item > .cm-caption {
      position: absolute;
      bottom: 70px;
      left: 0;
      color: #222;
      background: #fff;
      opacity: 0.8;
      display: block;
      padding: 10px 0;
      margin: 0 3px 3px;
      width: calc(100% - 6px);
      height: 100px;
}

#content_community .swiper-slide > .slider-item > .cm-caption > h5 {
      font-size: 18px;
}

#content_community .swiper-slide > .slider-item > .cm-caption > span {
      font-size: 16px;
}

/* 컨텐츠 info */
#content_info {
      text-align: center;
      background: #333;
      position: relative;
}

#content_info > .info-item {
      display: inline-block;
      width: 350px;
      margin: 70px 0;
      text-align: center;
      border-right: 1px solid #999;
}

#content_info > .info-item:last-child {
      border-right: none;
}

#content_info > .info-item > .icon-bg {
      display: inline-block;
      width: 54px;
      height: 54px;
      border-radius: 100px;
      background: #fff;
      text-align: center;
}

#content_info > .info-item > h5 {
      font-size: 18px;
      color: #fff;
      margin: 10px 0 0;
}

#content_info > .info-item > p {
      font-size: 16px;
      color: #999;
      margin: 15px 0 0;
}